# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# LaTeX
*.pdf
*.tex
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz