\documentclass[11pt]{article}
\usepackage[T1]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage{lmodern}
\usepackage{textcomp}
\usepackage[margin=1in,top=0.5in]{geometry}
\usepackage{enumitem}
\usepackage{titlesec}
\usepackage[colorlinks, urlcolor=blue]{hyperref}

\setlength{\parindent}{0pt}
\setlength{\parskip}{0pt}

\begin{document}
\pagestyle{empty}
\normalsize
\setitemize{noitemsep}
\urlstyle{same}
\titleformat{\section}{\Large\scshape}{\thesection}{1em}{}[{\titlerule[0.8pt]}]
\titlespacing*{\section}{0pt}{0ex}{2ex}

\begin{flushleft}
\LARGE
\textbf{<<profile.name>>}
\end{flushleft}

\begin{minipage}{0.5\textwidth}
\begin{flushleft}
<<profile.phone>>
\linebreak
<<profile.email>>
\end{flushleft}
\end{minipage}
\begin{minipage}{0.5\textwidth}
\begin{flushright}
<%- if profile.linkedin -%>
\url{<<profile.linkedin>>}
<%- endif -%>
\linebreak
<%- if profile.site -%>
\url{<<profile.site>>}
<%- endif -%>
\end{flushright}
\end{minipage}
\linebreak

\section*{Employment}
\label{sec:Employment}

<%- for job in work %>
\noindent
\begin{minipage}{0.75\textwidth}
\begin{flushleft}
\textbf{<<job.title>>}
\linebreak
\textbf{<<job.employer>>}
\end{flushleft}
\end{minipage}%
\begin{minipage}{0.25\textwidth}
\begin{flushright}
\raggedleft
\textbf{<<job.date_range>>}
\linebreak
\textbf{<<job.location>>}
\end{flushright}
\end{minipage}
\vspace{0.5em}

\begin{itemize}
<%- for bullet in job.description %>
\item <<bullet.content>>
<%- endfor %>
\end{itemize}

\vspace{1em}
<%- endfor %>

<%- if education %>

\section*{Education}
\label{sec:Education}

<%- for edu in education %>
\noindent
\begin{minipage}{0.75\textwidth}
\begin{flushleft}
\textbf{<<edu.institution>>}
\linebreak
\textbf{<<edu.degree>>}
<%- if edu.honors %>
\linebreak
<<edu.honors>>
<%- endif %>
\end{flushleft}
\end{minipage}%
\begin{minipage}{0.25\textwidth}
\begin{flushright}
\raggedleft
\textbf{<<edu.date_range>>}
\linebreak
\textbf{<<edu.location>>}
\end{flushright}
\end{minipage}

<%- if edu.gpa %>
\begin{flushleft}
GPA: <<edu.gpa>>
\end{flushleft}
<%- endif %>

\vspace{1em}
<%- endfor %>
<%- endif %>

<%- if languages or tools %>

\section*{Skills}
\label{sec:Skills}

<%- if languages %>
\begin{flushleft}
\textbf{Languages: }<<languages|join(", ")>>
\end{flushleft}
<%- endif %>
<%- if tools %>
\begin{flushleft}
\textbf{Tools: }<<tools|join(", ")>>
\end{flushleft}
<%- endif %>
<%- endif %>

\end{document}
